::-webkit-scrollbar-track {
    border: 2px solid transparent;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #979fb8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6172a9;
    transition: all 0.5s ease-in-out;
}
